In [ ]:
x = 5
y = 3

In [1]:
z = x+y
print(z)

NameError: name 'x' is not defined

In [ ]:
Rules for declaring the variables in python.

In [ ]:
Rule no. 1 : No name spaces while declaring the varible name in python.

In [2]:
first name = 'Shafia'

print(first name)

SyntaxError: invalid syntax (<ipython-input-2-71ef07c89271>, line 1)

In [3]:
firstname = 'Shafia'
print(firstname)

Shafia

In [ ]:
Rule no. 2 : A variablename should not strat with a number **

In [4]:
1name = 'rahul'
print(1name)

SyntaxError: invalid syntax (<ipython-input-4-f35bfbfe9e76>, line 1)

In [5]:
name1 = 'rahul'
print(name1)

rahul

In [ ]:
Rule no. 3 : A variable name should not contain nay special characters.

In [ ]:
@$%& =======> are not allowed to be used in the varible name.

In [6]:
name@ = 'john'

print(name@)

SyntaxError: invalid syntax (<ipython-input-6-d749ecc3f7a4>, line 1)

In [ ]:
introduction to data types in python:
    
    1. String
    2. list
    3.tuple
    4.dictionaries
    5.number ----> integers and floats(decimals)

In [ ]:
Classification of data types in python :
    
    1. mutable datatypes ---> which we can edit or alter (flexible data type)
    
    2. immutable data types -----> which we cannot edit or alter (fixed data type)

In [ ]:
intriduction to string datatype :

In [ ]:
overview : A string is a series of characters enclosed in quotes.
    
classification : it is classified as an imutable data type
    
declaration and short form : string-----> str
    
3 possible approaches for declaring a string :
    
    1. single quotes
    2. double quotes
    3. tripple quotes

In [7]:
name = 'sirish'   #single quote

print(name)

sirish

In [8]:
name2 = naveed"   #double quote

print(name2)

naveed

In [9]:
name3 = """keerthi"""  #tripple quote

print(name3)

keerthi

In [ ]:
introduction to string methods :

In [ ]:
# methods are built in programs that are available to use.

In [ ]:
type ----> it is usedto confirm the data types

In [10]:
type(name)

str

In [11]:
type(name2)

str

In [12]:
type(name3)

str